{
  "presets": [
    [
      "@babel/preset-env", {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-jsx",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-class-properties",
    "@vue/babel-plugin-transform-vue-jsx"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env", {
            "targets": { "node": "current" }
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-syntax-jsx",
        "@babel/plugin-transform-runtime",
        "@babel/plugin-transform-class-properties",
        "@babel/plugin-transform-modules-commonjs"
      ]
    }
  }
}
